:root{
  --gold:#C89B3C;--gold-light:#F0E6BE;--gold-dark:#785A28;
  --bg:#010A13;--bg2:#0A1428;--bg3:#091428;
  --blue:#0BC4E3;--text:#A09B8C;--text-light:#C8AA6E;--white:#F0E6BE;--red:#C8344A;
  --gold-a03:rgba(200,155,60,.03);--gold-a05:rgba(200,155,60,.05);--gold-a08:rgba(200,155,60,.08);
  --gold-a10:rgba(200,155,60,.1);--gold-a12:rgba(200,155,60,.12);--gold-a15:rgba(200,155,60,.15);
  --gold-a20:rgba(200,155,60,.2);--gold-a25:rgba(200,155,60,.25);--gold-a30:rgba(200,155,60,.3);
  --gold-a35:rgba(200,155,60,.35);--gold-a40:rgba(200,155,60,.4);--gold-a50:rgba(200,155,60,.5);
  --gold-a60:rgba(200,155,60,.6);--gold-a70:rgba(200,155,60,.7);
  --blue-a05:rgba(11,196,227,.05);--blue-a08:rgba(11,196,227,.08);--blue-a10:rgba(11,196,227,.1);
  --blue-a30:rgba(11,196,227,.3);--blue-a35:rgba(11,196,227,.35);--blue-a40:rgba(11,196,227,.4);
  --blue-a50:rgba(11,196,227,.5);
  --red-a05:rgba(200,52,74,.05);--red-a30:rgba(200,52,74,.3);--red-a35:rgba(200,52,74,.35);
  --red-a40:rgba(200,52,74,.4);--red-a50:rgba(200,52,74,.5)
}
